SERVER_NAME=example.org
SERVER_PORT=80

OIDC_PROVIDER_DISCOVERY_ENDPOINT=https://oidc.example.com/oauth2/.well-known/openid-configuration
OIDC_PROVIDER_INTROSPECTION_METHOD=client_secret_basic
OIDC_PROVIDER_REDIRECT_PATH=/redirect/path
OIDC_CLIENT_ID=johndoe
OIDC_CLIENT_SECRET=sim-sala-bim

SESSION_SECRET=rumpelstiltskin
